<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAaW2CNMpk6f7w4QVEiRqxXBjs5PT58fh4</string>
	<key>GCM_SENDER_ID</key>
	<string>302463786687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.snaarpMail</string>
	<key>PROJECT_ID</key>
	<string>snaarpmail</string>
	<key>STORAGE_BUCKET</key>
	<string>snaarpmail.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302463786687:ios:20ae777c62bf82fcfe300a</string>
</dict>
</plist>